@media print {
    /* style sheet for print goes here */
    .slide-area {
        top: 0 !important;
        left: 0% !important;
    }

    #prev-slide-area {
      margin-left:0 !important;
    }
    #next-slide-area {
      margin-left:0 !important;
    }
    
    article > .current{ transform: none; }
    article > .far-past{ transform: none }
    article > .past{ transform: none }
    article > .current{ transform: none }
    article > .next{ transform: none }
    article > .far-next{ transform: none }

    *.to-build > .to-build{ transform: none }

    article 
    {
        display: block !important;
        top: 5% !important;
        left: 10% !important;
        margin: 0 0 9em 0 !important;
        position: relative !important;
        transform: none !important;
    }

    article.fill h3
    {
        position: absolute;
        z-index: 100 !important;
    }

    article.fill img
    {
        position: absolute;
        z-index: 0 !important;
    }
}